

/* @font-face {
    font-family: 'SuisseIntlCondensed-Semibold';
    src:    url('https://the-point.com/fonts/SuisseIntlCondensed-Semibold.eot?#iefix') format('embedded-opentype'),  
            url('https://the-point.com/fonts/SuisseIntlCondensed-Semibold.otf')  format('opentype'),
            url('https://the-point.com/fonts/SuisseIntlCondensed-Semibold.woff') format('woff'), 
            url('https://the-point.com/fonts/SuisseIntlCondensed-Semibold.ttf')  format('truetype'), 
            url('https://the-point.com/fonts/SuisseIntlCondensed-Semibold.svg#SuisseIntlCondensed-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
 */





* {
    box-sizing: border-box;
}

body, html{
    padding:0;
    margin:0;
    font-family: sans-serif;
    height: 100%;
    max-width: 100%;
}


.container-fluid {
    max-width:1900px !important;
}

.pad {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding: 5px;
}


header, section, footer {
    padding-top: 20px;
    padding-bottom: 20px;
}


.main-header{
    padding: 10px 0 10px 40px;
    background-color: #f3d501;
    color: #fff;
}

.main-header ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
}

.main-header a{
    color: #fff;
    text-decoration: none;
}

.main-header h3{
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/people_5.jpg);
    height: 0 auto;
    /* background-position: center; */
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: left;
    width: 100%;
    padding: 40px 40px;
}
.hero-text h1{
    color: #fff;
    font-size: 80px;
    font-family: sans-serif;
    text-decoration: none;
}
.hero-text h3{
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}
.hero-text p{
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    border-top: solid 2px #fff;
    padding: 20px 0;
}

.our-people{
    background-color: #f3d501;
    width: 100%;
    padding: 40px 40px;
}

.our-people h1{
    color: #000;
    font-size: 80px;
    font-family: sans-serif;
    text-decoration: none;
}

.our-people h3{
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.our-people p{
    color: #000;
    font-size: 14px;
    font-family: sans-serif;
    border-top: solid 2px #000;
    padding: 20px 0;
}

.department-grid{
    background-color: white;
    width: 100%;  
    padding: 40px 40px;
}

.grid-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(70%);
    transition:all 0.35s;
}

.grid-image:hover {
    transform:scale(0.95);  
}

.grid-text {
    position: absolute;
    font-size: 18px;
    font-weight:500;
    color: white;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join-us{
    background-color: #fff;
    width: 100%;
    padding: 40px 40px;
}

.join-us h1{
    color: #000;
    font-size: 80px;
    font-family: sans-serif;
    text-decoration: none;
}

.join-us p{
    color: #000;
    font-size: 14px;
    font-family: sans-serif;
    border-top: solid 2px #000;
    padding: 20px 0;  
}

.container-form{
    width:100%;
    background-color: #fff;
    padding: 40px;    
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #a6acaf;
    border: 1px solid #ccc;
    border-radius: 2px;
}
 
  
label {
    width: 100%;
    padding-top: 15px;
}

input[type=submit] {
    background-color: #f3d501;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
}


/* page 2 */

 .current-opportunities{
    background-color: #f3d501;
    width: 100%;
    padding: 40px 40px;
}

.current-opportunities h1{
    color: #000;
    font-size: 80px;
    font-family: sans-serif;
    /* padding: 20px 20px 50px 20px; */
    /* font-family: 'SuisseIntlCondensed-Semibold'; */
}

.current-opportunities h3{
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.current-opportunities p{
    color:#000;;
    font-size: 14px;
    font-family: sans-serif;
    border-top: solid 2px #000;
    padding: 20px 0;
}

.main-header h1{
    color: #fff;
    font-size: 80px;
    max-width: 100%;
    font-family: sans-serif;
    padding: 20px 20px 50px 20px;
}

.our-venues h1{
    color: #000;
    font-size: 80px;
    font-family: sans-serif;
    text-decoration: none;
}

.our-venues h3{
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.our-venues p{
    color: #000;
    font-size: 14px;
    font-family: sans-serif;
    border-top: solid 2px #000;
    padding: 20px 0;
}

.our-venues{
    background-color:#f3d501;
    color: #000;
    padding: 40px 40px;
}

.jobs{
    background-color: #fff;
    padding: 40px 40px;
}

.jobs h1{
    font-family: sans-serif;
    color: #000;
    font-size: 20px;
}

.jobs h3{
    color: #000;
    font-size: 20px;
}

.jobs p{
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
}

.department {
    border-bottom: solid 1px #000;
    margin: 10px 0;
}

.job-list{
    padding: 8px 4px 4px;
    /* display: none; */
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.venue-logos{
    padding: 40px 40px;
}

.logo-grid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/harrys_venue.jpg);
}
 
.overlay-2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0 auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/icebergs_1.jpg);
    }


.overlay-3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/luigis_venue.jpg);
    }

.overlay-4{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/mexicola_venue.jpg);
    }

.overlay-5{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/BBPB_venue.jpg);
    }

.overlay-6{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tropicola_venue.jpg);
    }

.container-grid:hover .overlay{
    opacity: 1;
}
.container-grid:hover .overlay-2{
    opacity: 1;
}
.container-grid:hover .overlay-3{
    opacity: 1;
}
.container-grid:hover .overlay-4{
    opacity: 1;
}
.container-grid:hover .overlay-5{
    opacity: 1;
}
.container-grid:hover .overlay-6{
    opacity: 1;
}

.text {
   color: white;
   font-size: 30px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
}

table{
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;   
}

td, th{
    /* border: 1px solid #000; */
    text-align: left;
    font-size: 14px;
    padding: 2px;
}

tr:nth-child(odd) {
    background-color: #f2f3f4;
}

tr:hover{
    background-color: #f3d501;
}

footer{
    background-color: #f3d501;
}

footer p{
    color: #000;
    font-size: 16px;
    padding: 10px 0 10px 40px;
}






/* pop up jquery css */


.popup {
    position:fixed; /* This will fix the pop-up to the browser not the scrollable page */
    top:0;
    left:0;
    width:100%;
    height:100vh;
   
    
    display: flex; /* Here are the 3 lines of flex to center the box */
    align-items:center; /* I have also added them as bootstrap classes in the HTML */
    justify-content:center; /* You could use either this css or the classes */
    
    transition: opacity 0.5s;
    opacity:0; /* This hides the elements so we can fade it in*/
    pointer-events:none; /* This removes the elements interaction when hidded so we can still access the page */
  }

  /* This created the page blackout effect on the underlay only */
.underlay {
    background-color:rgba(0,0,0,0.2);
  }
  
  .box {
    /* The first few lines position and size the box responsivly*/
    position:fixed;
    background-color:#fff;
    margin-top: 50px;
    width:700px;
    max-width:90%;
    height:500px;
    overflow: auto;
    
    /* The stle the contents as you need*/
    padding:50px;
    font-size: 14px;
    text-decoration: none;
    text-align:left;
    justify-content: flex-start;
    box-shadow:0 7px 15px rgba(0,0,0,0.7);
    transform:translateY(10%); /* Add some micro movements for fun */
    transition: transform 0.5s;
  }

  .box h1{
      font-size: 20px;
  }

  hr{
      border: solid 0.5px black;
  }

  .box a{
      text-decoration: none;
  }
 
  .apply{
     width: 120px;
     bottom:10px;
     right:10px;
     font-size: 14px;
     font-weight: 600;
     font-family: sans-serif;
     cursor:pointer;
     background-color: #f3d501;
     padding: 12px 20px;
     opacity: 1;
     transition: 0.3s;
     color: #000;
     border: none;
     border-radius: 4px;
  }

  .apply:hover {
      opacity: 0.6;
  }

  .close {
    position: absolute;
    top:10px;
    right:10px;
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
    cursor:pointer;
  }
  
  /* Creat the open css */
  .popup.open {
    pointer-events:initial;
    opacity:1;
  }
  
  .box.open {
    transform:translateY(-10%); /* Going -10 to sit higher in page than middle */
  }
​

​
/*
Meaning of the only + and keywords:
​
only: The only keyword prevents older browsers that do not support media queries with media features from applying the specified styles. It has no effect on modern browsers.
​
and: The and keyword combines a media feature with a media type or other media features.
​
They are all optional. However, if you use only, you must also specify a media type.
*/
​
​
/*==========  Mobile First Method  ==========*/
​
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}
​
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
   
​
}
​
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
​
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
​
}
​
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
​
}
​
​
​
/*==========  Non-Mobile First Method  ==========*/
​
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
​
}
​
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


}
​
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
   
}
​
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .our-people h1{
        font-size: 18px;
    }
    .hero-text h1{
        font-size: 18px;
    }
    .join-us h1{
        font-size: 18px;
    }
    .current-opportunities h1{
        font-size: 18px;
    }

}
​
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

